
{% extends "loginas/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% block object-tools-items %}
{{ block.super }}
<li><a href="https://invent.kde.org/{{ original.nickname }}" target="_blank">{% trans "Find in Invent" %}</a></li>{% endblock %}
{% block after_field_sets %}
  {% if perms.change_oauth2accesstoken %}
  <fieldset class="module aligned">
    <h2>Access Tokens</h2>
    <p>View this user's <a href="{% url 'admin:bid_main_oauth2accesstoken_changelist' %}?user={{ original.id }}">access tokens</a></p>
  </fieldset>
  {% endif %}
{% endblock %}
