
{% extends "email_layout.html" %}
{% block body %}
<p>Congrats!</p>
<p>You now have your own KDE Account.</p>
<p>Before you can log in, you have to choose a password at:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'bid_main:register-confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'bid_main:register-confirm' uidb64=uid token=token %}</a></p>
<p>
  Use this email address ({{ user.email }}) to log in to any KDE Account enabled website
  such as Invent, Userbase, Techbase, etc.
</p>

{% endblock %}
