
<div class="blender-id-badges error">
  <p>Non-existing size '{{ requested_size }}' requested.</p>
  <p>Choose from the following sizes:</p>
  <dl>{% for size_name, size_px in available_sizes.items %}
    <dt>'{{ size_name }}'</dt>
    <dd>{{ size_px }} pixels</dd>{% endfor %}
  </dl>
</div>