{% extends 'layout.html' %}
{% block page_title %}Finished importing your account{% endblock %}
{% block body %}
  {% block before_about_bid %}{% endblock %}
  <div class="row">
    <div class="col-10 col-md-8 offset-1 offset-md-2">
      <div class="card">
        <h1 class="card-header mt-0 h3">Import your KDE Identity account</h1>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" class="btn btn-primary mt-3"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% block after_about_bid %}{% endblock %}
{% endblock %}
