
{% extends 'bid_main/confirm_email/base.html' %}
{% block confirm_email_body %}
<h1 class="text-danger">Error sending an email</h1>
<p>
  We couldn't send an email to {{ user.email }} for some reason. This most likely is due to
  something going wrong on our side. Don't worry, the error has been logged and will be handled
  soon.
  
</p>
<p>
  If you want you can try again to see if that helps.
  
</p>
<form action="{% url 'bid_main:confirm-email' %}" method="POST">{% csrf_token %}
  <div class="bid-cta"><a class="btn" href="{% url 'bid_main:index' %}">Back to the dashboard</a>
    <button class="btn btn-success" type="submit">Try again</button>
  </div>
</form>{% endblock %}